.node-red/flows.json
[
    {
        "id": "fc2c94c0.07f82",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "24931ccd.2a36cc",
        "type": "mongodb",
        "z": "",
        "hostname": "$(MONGODB_HOST)",
        "port": "$(MONGODB_PORT)",
        "db": "monitoshi",
        "name": "env vars"
    },
    {
        "id": "2b49b598.336dea",
        "type": "inject",
        "z": "fc2c94c0.07f82",
        "name": "nodered start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "729f0358.a5a384"
            ]
        ]
    },
    {
        "id": "331b63bb.2a7b5c",
        "type": "mongodb in",
        "z": "fc2c94c0.07f82",
        "mongodb": "24931ccd.2a36cc",
        "name": "find",
        "collection": "monitors",
        "operation": "find",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "8f9c6292.bcf13"
            ]
        ]
    },
    {
        "id": "f61c02d5.db0918",
        "type": "mongodb out",
        "z": "fc2c94c0.07f82",
        "mongodb": "24931ccd.2a36cc",
        "name": "insert",
        "collection": "monitors",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 480,
        "y": 760,
        "wires": []
    },
    {
        "id": "ff958cae.b584f",
        "type": "http in",
        "z": "fc2c94c0.07f82",
        "name": "create",
        "url": "/create",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 640,
        "wires": [
            [
                "4e5e2451.e9d6e4",
                "b5f9907b.600ac"
            ]
        ]
    },
    {
        "id": "606066d6.252d",
        "type": "debug",
        "z": "fc2c94c0.07f82",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 680,
        "wires": []
    },
    {
        "id": "265ddac6.fbf476",
        "type": "http response",
        "z": "fc2c94c0.07f82",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 600,
        "y": 640,
        "wires": []
    },
    {
        "id": "7258349d.f9fb1c",
        "type": "e-mail",
        "z": "fc2c94c0.07f82",
        "server": "mail.gandi.net",
        "port": "465",
        "secure": true,
        "name": "",
        "dname": "",
        "x": 810,
        "y": 720,
        "wires": []
    },
    {
        "id": "244db645.f8e89a",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "payload.email",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "Your website is monitored",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Your webesite \" & msg.payload.url & \" is now monitored. Click here to delete it: https://app.monitoshi.com/delete/?url=\" & msg.payload.url & \"&email=\" & msg.payload.email ",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 700,
        "wires": [
            [
                "606066d6.252d",
                "7258349d.f9fb1c"
            ]
        ]
    },
    {
        "id": "729f0358.a5a384",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ }",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "sort",
                "pt": "msg",
                "to": "{ \"updated\": -1 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "331b63bb.2a7b5c",
                "6d292e62.84961"
            ]
        ]
    },
    {
        "id": "2409f794.741b4",
        "type": "debug",
        "z": "fc2c94c0.07f82",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "fd856eff.06e398",
        "type": "inject",
        "z": "fc2c94c0.07f82",
        "name": "reset",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "4301868f.c75fd"
            ]
        ]
    },
    {
        "id": "c237ad70.38c3e8",
        "type": "mongodb in",
        "z": "fc2c94c0.07f82",
        "mongodb": "24931ccd.2a36cc",
        "name": "find",
        "collection": "monitors",
        "operation": "find",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "490adec9.a06de",
                "203b44c0.d24a1c"
            ]
        ]
    },
    {
        "id": "4301868f.c75fd",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ }",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "sort",
                "pt": "msg",
                "to": "{ \"updated\": -1 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 100,
        "wires": [
            [
                "c237ad70.38c3e8"
            ]
        ]
    },
    {
        "id": "490adec9.a06de",
        "type": "debug",
        "z": "fc2c94c0.07f82",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 750,
        "y": 60,
        "wires": []
    },
    {
        "id": "1af45b92.51df4c",
        "type": "mongodb out",
        "z": "fc2c94c0.07f82",
        "mongodb": "24931ccd.2a36cc",
        "name": "remove",
        "collection": "monitors",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "203b44c0.d24a1c",
        "type": "split",
        "z": "fc2c94c0.07f82",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 550,
        "y": 160,
        "wires": [
            [
                "1af45b92.51df4c",
                "490adec9.a06de"
            ]
        ]
    },
    {
        "id": "bb92553e.9f023",
        "type": "split",
        "z": "fc2c94c0.07f82",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 750,
        "y": 300,
        "wires": [
            [
                "2f746862.442758"
            ]
        ]
    },
    {
        "id": "7c9a265a.470bb",
        "type": "http request",
        "z": "fc2c94c0.07f82",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 770,
        "y": 380,
        "wires": [
            [
                "5d8b96e9.c2be58",
                "ca719ddb.71b648",
                "6d86c9c9.3b179"
            ]
        ]
    },
    {
        "id": "2f746862.442758",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "item",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.url",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 340,
        "wires": [
            [
                "7c9a265a.470bb"
            ]
        ]
    },
    {
        "id": "5d8b96e9.c2be58",
        "type": "debug",
        "z": "fc2c94c0.07f82",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "statusCode",
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "edb50d57.25a6c",
        "type": "mongodb out",
        "z": "fc2c94c0.07f82",
        "mongodb": "24931ccd.2a36cc",
        "name": "update",
        "collection": "monitors",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 1300,
        "y": 300,
        "wires": []
    },
    {
        "id": "5267a30a.115d8c",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "Set UP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"$currentDate\":{\"updated\":true},\"$set\":{\"state\":\"up\"}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "newState",
                "pt": "msg",
                "to": "up",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 480,
        "wires": [
            [
                "534a379f.c23ad8",
                "edb50d57.25a6c",
                "4fa5350d.7d840c"
            ]
        ]
    },
    {
        "id": "9a61d8e0.cd3d28",
        "type": "switch",
        "z": "fc2c94c0.07f82",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 380,
        "wires": [
            [
                "35acde7e.3b93f2"
            ],
            [
                "5267a30a.115d8c"
            ]
        ]
    },
    {
        "id": "35acde7e.3b93f2",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "set DOWN",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"$currentDate\":{\"updated\":true},\"$set\":{\"state\":\"down\"}}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "newState",
                "pt": "msg",
                "to": "down",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 440,
        "wires": [
            [
                "534a379f.c23ad8",
                "edb50d57.25a6c",
                "4fa5350d.7d840c"
            ]
        ]
    },
    {
        "id": "534a379f.c23ad8",
        "type": "debug",
        "z": "fc2c94c0.07f82",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1390,
        "y": 260,
        "wires": []
    },
    {
        "id": "4fa5350d.7d840c",
        "type": "switch",
        "z": "fc2c94c0.07f82",
        "name": "",
        "property": "newState",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "item.state",
                "vt": "msg"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 1390,
        "y": 380,
        "wires": [
            [
                "293c8222.2dedee",
                "a04a5558.311e08"
            ]
        ]
    },
    {
        "id": "29f1ac51.d5bc94",
        "type": "debug",
        "z": "fc2c94c0.07f82",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1810,
        "y": 360,
        "wires": []
    },
    {
        "id": "281f9e84.4807f2",
        "type": "e-mail",
        "z": "fc2c94c0.07f82",
        "server": "mail.gandi.net",
        "port": "465",
        "secure": true,
        "name": "",
        "dname": "",
        "x": 1810,
        "y": 400,
        "wires": []
    },
    {
        "id": "293c8222.2dedee",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "item.email",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "\"Your website is \" & msg.newState",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Your webesite \" & msg.item.url & \" is now \" &  msg.newState & \". Click here to delete it: https://app.monitoshi.com/monitors/delete?url=\" & msg.item.url & \"&email=\" & msg.item.email",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1600,
        "y": 380,
        "wires": [
            [
                "29f1ac51.d5bc94",
                "281f9e84.4807f2"
            ]
        ]
    },
    {
        "id": "a04a5558.311e08",
        "type": "debug",
        "z": "fc2c94c0.07f82",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1570,
        "y": 420,
        "wires": []
    },
    {
        "id": "694e33ed.1eae4c",
        "type": "e-mail",
        "z": "fc2c94c0.07f82",
        "server": "mail.gandi.net",
        "port": "465",
        "secure": true,
        "name": "",
        "dname": "",
        "x": 1170,
        "y": 1040,
        "wires": []
    },
    {
        "id": "ca719ddb.71b648",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "query",
        "rules": [
            {
                "t": "set",
                "p": "query._id",
                "pt": "msg",
                "to": "item._id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 320,
        "wires": [
            [
                "9a61d8e0.cd3d28"
            ]
        ]
    },
    {
        "id": "8f9c6292.bcf13",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "length",
        "rules": [
            {
                "t": "set",
                "p": "numberOfUrls",
                "pt": "msg",
                "to": "payload.length",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 400,
        "wires": [
            [
                "bb92553e.9f023",
                "2409f794.741b4"
            ]
        ]
    },
    {
        "id": "6d86c9c9.3b179",
        "type": "join",
        "z": "fc2c94c0.07f82",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 890,
        "y": 580,
        "wires": [
            [
                "aaa03148.1130b"
            ]
        ]
    },
    {
        "id": "6d292e62.84961",
        "type": "debug",
        "z": "fc2c94c0.07f82",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 370,
        "y": 260,
        "wires": []
    },
    {
        "id": "aaa03148.1130b",
        "type": "delay",
        "z": "fc2c94c0.07f82",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1030,
        "y": 580,
        "wires": [
            [
                "729f0358.a5a384"
            ]
        ]
    },
    {
        "id": "44ba3df7.186e94",
        "type": "http in",
        "z": "fc2c94c0.07f82",
        "name": "delete get",
        "url": "/delete",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 181,
        "y": 940,
        "wires": [
            [
                "c21af3b8.e05438"
            ]
        ]
    },
    {
        "id": "e78aa8fc.3f49c",
        "type": "debug",
        "z": "fc2c94c0.07f82",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1170,
        "y": 1000,
        "wires": []
    },
    {
        "id": "a8b82c3a.a70458",
        "type": "http response",
        "z": "fc2c94c0.07f82",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 940,
        "y": 920,
        "wires": []
    },
    {
        "id": "f8a7d8fa.e2dc4",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "payload.email",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "Your website is not monitored anymore",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Your webesite \" & msg.payload.url & \" is not monitored anymore. Click here to recreate it: https://app.monitoshi.com/create/?url=\" & msg.payload.url & \"&email=\" & msg.payload.email ",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1020,
        "wires": [
            [
                "e78aa8fc.3f49c",
                "694e33ed.1eae4c"
            ]
        ]
    },
    {
        "id": "c21af3b8.e05438",
        "type": "mongodb in",
        "z": "fc2c94c0.07f82",
        "mongodb": "24931ccd.2a36cc",
        "name": "find",
        "collection": "monitors",
        "operation": "find",
        "x": 330,
        "y": 940,
        "wires": [
            [
                "1c38a0ef.b17b87"
            ]
        ]
    },
    {
        "id": "3288cf16.c3da7",
        "type": "debug",
        "z": "fc2c94c0.07f82",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 690,
        "y": 880,
        "wires": []
    },
    {
        "id": "1c38a0ef.b17b87",
        "type": "switch",
        "z": "fc2c94c0.07f82",
        "name": "Single",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 940,
        "wires": [
            [
                "9a2cc2be.3cff58"
            ],
            [
                "c60c7eea.4f714"
            ]
        ]
    },
    {
        "id": "40b401f.532a58",
        "type": "http response",
        "z": "fc2c94c0.07f82",
        "name": "",
        "statusCode": "400",
        "headers": {},
        "x": 760,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c60c7eea.4f714",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "security",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "result",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Bad request",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 960,
        "wires": [
            [
                "40b401f.532a58"
            ]
        ]
    },
    {
        "id": "ee8261f.9fab8a",
        "type": "mongodb out",
        "z": "fc2c94c0.07f82",
        "mongodb": "24931ccd.2a36cc",
        "name": "delete",
        "collection": "monitors",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 930,
        "y": 860,
        "wires": []
    },
    {
        "id": "9a2cc2be.3cff58",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload[0]",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 920,
        "wires": [
            [
                "3288cf16.c3da7",
                "a8b82c3a.a70458",
                "ee8261f.9fab8a",
                "f8a7d8fa.e2dc4"
            ]
        ]
    },
    {
        "id": "27ff938f.7ddb04",
        "type": "switch",
        "z": "fc2c94c0.07f82",
        "name": "required",
        "property": "payload.url",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 339.08331298828125,
        "y": 580.9166870117188,
        "wires": [
            [
                "26dfe736.e4fde"
            ],
            [
                "1de9ec7c.4801d4"
            ]
        ]
    },
    {
        "id": "a3eb78f0.fc1978",
        "type": "http response",
        "z": "fc2c94c0.07f82",
        "name": "",
        "statusCode": "400",
        "headers": {},
        "x": 700,
        "y": 540,
        "wires": []
    },
    {
        "id": "1de9ec7c.4801d4",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "security",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "result",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Bad request",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 540,
        "wires": [
            [
                "a3eb78f0.fc1978"
            ]
        ]
    },
    {
        "id": "4e5e2451.e9d6e4",
        "type": "debug",
        "z": "fc2c94c0.07f82",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 250,
        "y": 740,
        "wires": []
    },
    {
        "id": "caf26a3c.a031c8",
        "type": "switch",
        "z": "fc2c94c0.07f82",
        "name": "required",
        "property": "payload.email",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 540,
        "wires": [
            [
                "27ff938f.7ddb04"
            ],
            [
                "1de9ec7c.4801d4"
            ]
        ]
    },
    {
        "id": "26dfe736.e4fde",
        "type": "mongodb in",
        "z": "fc2c94c0.07f82",
        "mongodb": "24931ccd.2a36cc",
        "name": "find",
        "collection": "monitors",
        "operation": "find",
        "x": 350,
        "y": 620,
        "wires": [
            [
                "e1d6a86a.09aae"
            ]
        ]
    },
    {
        "id": "e1d6a86a.09aae",
        "type": "switch",
        "z": "fc2c94c0.07f82",
        "name": "Empty",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 660,
        "wires": [
            [
                "25c620b5.651c98"
            ],
            [
                "1de9ec7c.4801d4"
            ]
        ]
    },
    {
        "id": "b5f9907b.600ac",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "Backup payload",
        "rules": [
            {
                "t": "set",
                "p": "initial",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360.16668701171875,
        "y": 505,
        "wires": [
            [
                "caf26a3c.a031c8"
            ]
        ]
    },
    {
        "id": "25c620b5.651c98",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "Restore payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "initial",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 700,
        "wires": [
            [
                "265ddac6.fbf476",
                "244db645.f8e89a",
                "f61c02d5.db0918"
            ]
        ]
    },
    {
        "id": "65cf5539.d16dfc",
        "type": "switch",
        "z": "fc2c94c0.07f82",
        "name": "Single",
        "property": "payload.length",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 1180,
        "wires": [
            [
                "d3b52ac1.132e5"
            ],
            [
                "b8a0b32a.12b88"
            ]
        ]
    },
    {
        "id": "25316047.930e28",
        "type": "mongodb in",
        "z": "fc2c94c0.07f82",
        "mongodb": "24931ccd.2a36cc",
        "name": "find",
        "collection": "monitors",
        "operation": "find",
        "x": 330,
        "y": 1180,
        "wires": [
            [
                "65cf5539.d16dfc"
            ]
        ]
    },
    {
        "id": "57c9c0a4.b3d308",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "security",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "result",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Bad request",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1200,
        "wires": [
            [
                "762a5dc0.605324"
            ]
        ]
    },
    {
        "id": "d3b52ac1.132e5",
        "type": "change",
        "z": "fc2c94c0.07f82",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload[0]",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1160,
        "wires": [
            [
                "a4a252d9.87b82",
                "ff3899f.45b80e8"
            ]
        ]
    },
    {
        "id": "762a5dc0.605324",
        "type": "http response",
        "z": "fc2c94c0.07f82",
        "name": "",
        "statusCode": "400",
        "headers": {},
        "x": 760,
        "y": 1240,
        "wires": []
    },
    {
        "id": "a4a252d9.87b82",
        "type": "debug",
        "z": "fc2c94c0.07f82",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 690,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ff3899f.45b80e8",
        "type": "http response",
        "z": "fc2c94c0.07f82",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 940,
        "y": 1160,
        "wires": []
    },
    {
        "id": "b160878e.9f7fa8",
        "type": "http in",
        "z": "fc2c94c0.07f82",
        "name": "list",
        "url": "/monitors",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1280,
        "wires": [
            [
                "25316047.930e28"
            ]
        ]
    },
    {
        "id": "d1f8b786.74ed4",
        "type": "http response",
        "z": "fc2c94c0.07f82",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 700,
        "y": 1400,
        "wires": []
    },
    {
        "id": "b8a0b32a.12b88",
        "type": "function",
        "z": "fc2c94c0.07f82",
        "name": "anonymize",
        "func": "msg.payload = msg.payload.map(item => Object.assign({}, item, {email:'...', _id:undefined}));\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 1400,
        "wires": [
            [
                "6ecbd5be.0a130c",
                "d1f8b786.74ed4"
            ]
        ]
    },
    {
        "id": "6ecbd5be.0a130c",
        "type": "debug",
        "z": "fc2c94c0.07f82",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 1460,
        "wires": []
    },
    {
        "id": "3f90732a.169a0c",
        "type": "http in",
        "z": "fc2c94c0.07f82",
        "name": "create post",
        "url": "/monitors",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 142,
        "y": 600,
        "wires": [
            [
                "b5f9907b.600ac",
                "4e5e2451.e9d6e4"
            ]
        ]
    },
    {
        "id": "f26f5f57.71f238",
        "type": "http in",
        "z": "fc2c94c0.07f82",
        "name": "delete",
        "url": "/monitors",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 980,
        "wires": [
            [
                "c21af3b8.e05438"
            ]
        ]
    }
]